.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 0 5rem;
}
.home-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:"5rem";
}
#X{
    background-image: linear-gradient(-70deg, #FE5100, #FFA505);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}